/* override default materializecss background image height */

/* fix page height to 100% */
html { 
	height: 100%; 
}


/* materializecss footer requirement */
main {
  flex: 1 0 auto;
}


/* styling the body */
body { 
  margin: 0;
  height: 100%;
  position: relative;
  background: #efefef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/* the background image for the whole page*/
.parallax-container {
  height: 643px;
}


/* the page footer */
footer {
  z-index: 9;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}